#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
#app {
    font-family: 'Open Sans', sans-serif;
    .table

{
    margin: 1em;
    display: flex;
    flex-direction: column;
    .header, .row

{
    display: flex;
    div

{
    flex: 1;
    padding: 0.2rem 0.4em;
    border: 1px solid rgb(238, 238, 238);
}

.remove {
    border: 0;
    background-color: white;
    text-align: right;
    font-weight: 700;
    flex: 0 0 20px;
    a

{
    text-decoration: none;
    color: black;
}

}
}

.header {
    background-color: rgb(238, 238, 238);
    div

{
    cursor: pointer;
}

}
}
}